# Courier-post injection: append elements to existing template pools at server start.
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool rawTemplates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool templates
